.linkParaAbrirModal{
    font-size: 9px;
    color: blue;
}
.linkParaAbrirModal:hover  {
}
.p-highlight {
    color: red;
}
.letraPequena {
    font-size: 10px;
    width: 300px;
    text-align: left;
    padding-left: 5px;
}
.p-inputtext,
.p-checkbox {
    border-width: 1px;
}
.p-inputtext {
    padding: 10px;
}
.p-multiselect {
    border-style: solid;
    border-width: 1px;
    width: 100%;
}
.p-dropdown-label,.p-accordion-header, li {
    font-size: 10px;
}
.tituloDaAba {
    text-align: center;
    font-size: 10px;
    color: blue;
}
.p-invalid {
    border-color: #e24c4c;
}
