.p-tabview-selected, .p-highlight{
    color: red;
}
.letraPequena{
    font-size: 10px;
    width: 400px;
    text-align: left;
    padding-left: 5px;
}
.p-inputtextarea, .p-inputtext, .p-checkbox {

    border-width: 1px;

}
.p-multiselect {
    border-style: solid;
    border-width: 1px;
    width: 100%;

}

.p-dropdown-label{
    font-size: 10px;
}
